<h1 *ngIf="isAddMode">Create new Task</h1>
<h1 *ngIf="!isAddMode">Edit Task {{id}}</h1>
<hr />
<form [formGroup]="taskForm" (ngSubmit)="onSubmit()" class="mt-5">
    <div class="mb-5 row">
        <div class="col-md-1">
            <label for="title" class="form-label">Title:</label>
        </div>
        <div class="col-md-6">
            <input type="text" id="title" class="form-control" formControlName="title" required>
        </div>
    </div>

    <div class="mb-5 row">
        <div class="col-md-1">
            <label for="description" class="form-label">Description:</label>
        </div>
        <div class="col-md-6">
            <textarea id="description" class="form-control" rows="8" formControlName="description"></textarea>
        </div>
    </div>

    <div class="mb-3 row align-items-center">
        <div class="col-md-1">
            <label for="dueDate" class="form-label">Due Date:</label>
        </div>
        <div class="col-md-3">
            <input type="date" id="dueDate" class="form-control" formControlName="dueDate" required>
        </div>
        <input type="hidden" id="startedDate" formControlName="startedDate">
        <input type="hidden" id="completed" formControlName="completed">
        <!-- <div class="col-md-4">
            <timepicker formControlName="dueDate" required></timepicker>
        </div> -->
    </div>


    <button type="submit" class="btn btn-primary">Save</button>
</form>